.aboutMe
{
    background-color: lightblue;
    color: black;
    font-size: 20px;
    padding: 10px;
    margin: 12px;
    border: 2px solid black;
}
#hobbies
{
    background-color: lightgreen;
    color: black;
    font-size: 20px;
    padding: 10px;
    margin: 12px;
    border: 2px solid black;
}
.education
{
    background-color: lightyellow;
    color: black;
    font-size: 20px;
    padding: 10px;
    margin: 12px;
    border: 2px solid black;
}