.picture img
{
    width: 600px;
    height: auto;
    border-radius: 20px;
}
.body
{
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
}
.profile
{
    width: 1200px;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    margin: 0 auto;
}
.info
{
    width: 600px;
    margin: 20px;
    border: 4px solid #333;
    padding: 25px;
    border-radius: 12px;
    background: rgba(200, 228, 230, 0.892);
    box-shadow: 0 8px 20px rgba(0,0,0,1);
    font-size: medium;
}
.footer
{
    width: 1400px;
    margin: 20px;
    border: 4px solid #333;
    padding: 25px;
    border-radius: 12px;
    background: rgb(168, 209, 106);
    box-shadow: 0 8px 20px rgba(0,0,0,1);
}
.name
{
    text-align: center;
    justify-items: space-around;
    padding: 50px;
}