
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}


header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}


.profile {
    width: 600px;       
    margin: 30px auto;         
    padding: 20px;             
    border: 3px solid #444;    
    background-color: #e6f2ff; 
    text-align: center;
}


.profile img {
    width: 200px;
    height: auto;
    border-radius: 15px; 
    margin-bottom: 15px;
}


.bio {
    font-size: 1em;
    margin-top: 15px;
}


footer {
    width: 600px;
    margin: 20px auto;  
    padding: 15px;
    border: 2px solid #444;
    background-color: #d9ead3;
    text-align: center;
}